<?xml version="1.0" encoding="utf-8" ?>
<fragment xmlns="http://tecware-gmbh.de/dev/des/2014"
		xmlns:pps="http://tecware-gmbh.de/dev/des/2015/ppsn">

	<pps:ppsn name="ppsn">
		<pps:sysDataSource name="sys" />
		
		<pps:wpf name="wpf">
			<pps:wpfSource id="core" directory="ClientWpf/Panes" virtualPath="panes" />
			<pps:theme id="default" file="ClientWpf/default.xaml"/>
			
			<pps:action name="close" displayName="Schließen" priority="-1000" displayGlyph="57639">
				<pps:code><![CDATA[ Window:Close() ]]></pps:code>
			</pps:action>
			<!--<pps:template id="templates" file="ClientWpf\Templates\MasterData.Contacts.xaml"/>-->
		</pps:wpf>

		<pps:register source="sys">
			<pps:field name="wpf.sync.Path" dataType="string" />
			<pps:field name="wpf.sync.Length" dataType="long" />
			<pps:field name="wpf.sync.LastWriteTime" dataType="datetime" />
			
			<pps:view name="wpf.sync">
				<pps:source type="view">wpf/GetApplicationFilesSelector</pps:source>
			</pps:view>

			<pps:field name="sys.views.Name" dataType="string" />
			<pps:field name="sys.views.DisplayName" dataType="string" />
			<pps:field name="sys.views.SecurityToken" dataType="string" />
			<pps:field name="sys.views.IsVisible" dataType="bool" />

			<pps:view name="sys.views">
				<pps:source type="view">GetViewDefinitionSelector</pps:source>
			</pps:view>
			<pps:view name="sys.constants">
				<pps:source type="view">GetConstantSelector</pps:source>
			</pps:view>
		</pps:register>

		<pps:register source="main">

			<!-- object fields -->
			<pps:field name="dbo.Objk.Id" />
			<pps:field name="dbo.Objk.Guid" />
			<pps:field name="dbo.Objk.Typ" />
			<pps:field name="dbo.Objk.Nr" />
			<pps:field name="dbo.Objk.HeadRevId" />
			<pps:field name="dbo.Objk.CurRevId" />

			<!-- revision fields -->
			<pps:field name="dbo.Objr.Id" />
			<pps:field name="dbo.Objr.ParentId" />
			<pps:field name="dbo.Objr.ObjkId" />
			<pps:field name="dbo.Objr.Tags" />
			<pps:field name="dbo.Objr.Document" />
			<pps:field name="dbo.Objr.CreateDate" />
			<pps:field name="dbo.Objr.CreateUserId" />
			
			<!-- address fields -->
			<pps:field name="dbo.Adre.Id" />
			<pps:field name="dbo.Adre.ObjkId" />
			<pps:field name="dbo.Adre.Name" >
				<pps:attribute name="displayName">Name</pps:attribute>
			</pps:field>
			<pps:field name="dbo.Adre.Postfach" >
				<pps:attribute name="displayName">Postfach</pps:attribute>
			</pps:field>
			<pps:field name="dbo.Adre.Zusatz" >
				<pps:attribute name="displayName">Zusatz</pps:attribute>
			</pps:field>
			<pps:field name="dbo.Adre.Strasse" >
				<pps:attribute name="displayName">Strasse/Nr</pps:attribute>
			</pps:field>
			<pps:field name="dbo.Adre.Ort" >
				<pps:attribute name="displayName">Ort</pps:attribute>
			</pps:field>
			<pps:field name="dbo.Adre.Region" >
				<pps:attribute name="displayName">Region</pps:attribute>
			</pps:field>
			<pps:field name="dbo.Adre.PLZ" >
				<pps:attribute name="displayName">Plz</pps:attribute>
			</pps:field>
			<pps:field name="dbo.Adre.LandId" >
				<pps:attribute name="displayName">Land</pps:attribute>
			</pps:field>
			
			<!-- objects -->
			<pps:view name="dbo.objects">
				<pps:source type="select">
					<![CDATA[
						SELECT
								o.Id
								, o.Guid
								, o.Typ
								, o.Nr
								, r.Id as RevId
								, r.Tags as Tags
							FROM dbo.Objk o
								inner join dbo.Objr r on (o.HeadRevId = r.Id)
					]]>
				</pps:source>
			</pps:view>

			<!-- base dataset -->
			<pps:dataset name="coreDataSet">
				<!-- define the base table -->
				<pps:table name="Head">
					<pps:column name="Id" fieldName="dbo.Objk.Id" isPrimary="true" />
					<pps:column name="CurRevId" fieldName="dbo.Objk.CurRevId" />
					<pps:column name="HeadRevId" fieldName="dbo.Objk.HeadRevId" />
					<pps:column name="Nr" fieldName="dbo.Objk.Nr" />
					<pps:column name="Typ" fieldName="dbo.Objk.Typ" />
					<pps:column name="Guid" fieldName="dbo.Objk.Guid" />
				</pps:table>

				<pps:table name="Revision">
					<pps:column name="Id" fieldName="dbo.Objr.Id" isPrimary="true" />
					<pps:relation name="ObjkId" fieldName="dbo.Objr.ObjkId" parentTable="Head" parentColumn="Id" parentType="Root" relationName="ObjrObjk" />
				</pps:table>
				
			</pps:dataset>

			<!-- definition for currencies -->
			<pps:field name="dbo.Waeh.Iso" />
			<pps:field name="dbo.Waeh.Symbol" />
			<pps:field name="dbo.Waeh.Name" />
			<pps:field name="dbo.Waeh.Kurs" />
			<pps:field name="dbo.Waeh.System" />

			<pps:constant name="Waeh">
				<pps:column name="ISO" fieldName="dbo.Waeh.Iso"/>
				<pps:column name="Symbol" fieldName="dbo.Waeh.Symbol"/>
				<pps:column name="Name" fieldName="dbo.Waeh.Name"/>
				<pps:column name="Kurs" fieldName="dbo.Waeh.Kurs"/>
				<pps:column name="System" fieldName="dbo.Waeh.System"/>
			</pps:constant>

			<!-- definition for countries -->
			<pps:field name="dbo.Land.Iso" />
			<pps:field name="dbo.Land.Name" />
			<pps:field name="dbo.Land.EnglishName" />
			<pps:field name="dbo.Land.Iso3" />
			<pps:field name="dbo.Land.Tld" />
			<pps:field name="dbo.Land.Vorwahl" />
			<pps:field name="dbo.Land.Zone" />
			<pps:field name="dbo.Land.PostAdr" />

			<pps:constant name="Land">
				<pps:column name="ISO" fieldName="dbo.Land.Iso"/>
				<pps:column name="Name" fieldName="dbo.Land.Name"/>
				<pps:column name="EnglishName" fieldName="dbo.Land.EnglishName"/>
				<pps:column name="ISO3" fieldName="dbo.Land.Iso3"/>
				<pps:column name="Tld" fieldName="dbo.Land.Tld"/>
				<pps:column name="Vorwahl" fieldName="dbo.Land.Vorwahl"/>
				<pps:column name="EuroZone" fieldName="dbo.Land.Zone"/>
				<pps:column name="PostAdr" fieldName="dbo.Land.PostAdr"/>
			</pps:constant>
		
			<!-- definition for contact groups -->
			<pps:field name="dbo.Kgrp.Name" />

			<pps:constant name="Kgrp">
				<pps:column name="Name" fieldName="dbo.Kgrp.Name"/>
			</pps:constant>
		
			<!-- definition for postal codes -->
			<pps:field name="dbo.Plzd.Plz" />
			<pps:field name="dbo.Plzd.Ort" />
			<pps:field name="dbo.Plzd.LandId" />
			<pps:field name="dbo.Plzd.Vorwahl" />
			<pps:field name="dbo.Plzd.Kfz" />
			<pps:field name="dbo.Plzd.AmtSchl" />
			<pps:field name="dbo.Plzd.RegSchl" />
			<pps:field name="dbo.Plzd.Region" />

			<pps:constant name="Plzd">
				<pps:column name="Plz" fieldName="dbo.Plzd.Plz"/>
				<pps:column name="Ort" fieldName="dbo.Plzd.Ort"/>
				<pps:column name="LandId" fieldName="dbo.Plzd.LandId"/>
				<pps:column name="Vorwahl" fieldName="dbo.Plzd.Vorwahl"/>
				<pps:column name="Kfz" fieldName="dbo.Plzd.Kfz"/>
				<pps:column name="AmtSchl" fieldName="dbo.Plzd.AmtSchl"/>
				<pps:column name="RegSchl" fieldName="dbo.Plzd.RegSchl"/>
				<pps:column name="Region" fieldName="dbo.Plzd.Region"/>
			</pps:constant>
		</pps:register>
	</pps:ppsn>
</fragment>