<?xml version="1.0" encoding="UTF-8"?>

<?define ExcelRegPath = "Software\Microsoft\Office\Excel\Addins\PPSn.Excel" ?>
<?define AddInKeyPaths = "Software\TecWare\PPSnExcel\Components" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="PPSnExcel" Directory="INSTALLFOLDER">
			<Component Id="PPSnExcel" Guid="054313fe-9591-4158-ab2b-b60e9599c40b">
				<CreateFolder />
				<RemoveFolder Id="ppsn" Directory="ppsn" On="uninstall" />
				<RemoveFolder Id="INSTALLFOLDER" On="uninstall" />

				<File Id="PPSnExcel.dll" Name="PPSnExcel.dll" Source="..\PPSnExcel\bin\Release\PPSnExcel.dll" />
				<File Id="PPSnExcel.pdb" Name="PPSnExcel.pdb" Source="..\PPSnExcel\bin\Release\PPSnExcel.pdb" />
				<File Id="PPSnExcel.vsto" Name="PPSnExcel.vsto" Source="..\PPSnExcel\bin\Release\PPSnExcel.vsto" />
				<File Id="PPSnExcel.dll.manifest" Name="PPSnExcel.dll.manifest" Source="..\PPSnExcel\bin\Release\PPSnExcel.dll.manifest" />

				<RegistryKey Root="HKCU" Key="$(var.ExcelRegPath)">
					<RegistryValue Name="FriendlyName" Value="PPSn Excel" Type="string" />
					<RegistryValue Name="Description" Value="PPSn Excel Modul" Type="string" />
					<RegistryValue Name="LoadBehavior" Value="3" Type="integer" />
					<RegistryValue Name="Manifest" Value="file://[#PPSnExcel.vsto]|vstolocal" Type="string" />
				</RegistryKey>
				<RegistryKey Root="HKCU" Key="$(var.AddInKeyPaths)">
					<RegistryValue Name="PPSnCore" Value="1" Type="integer" KeyPath="yes" />
					<RegistryValue Value="[ProductVersion]" Type="string" />
				</RegistryKey>
			</Component>

			<Component Id="DESCore" Guid="46eeb19a-24e0-4aa8-9e7c-26fa0791ed49">
				<File Id="DES.Core.dll" Name="DES.Core.dll" Source="..\PPSnExcel\bin\Release\DES.Core.dll" />
				<RegistryValue Root="HKCU" Key="$(var.AddInKeyPaths)" Name="DESCore" Value="1" Type="integer" KeyPath="yes" />
			</Component>
			
			<Component Id="VSTO" Guid="3811f351-ac89-478b-90b3-b60ea8220613">
				<File Id="Microsoft.Office.Tools.Common.dll" Name="Microsoft.Office.Tools.Common.dll" Source="..\PPSnExcel\bin\Release\Microsoft.Office.Tools.Common.dll" />
				<File Id="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Source="..\PPSnExcel\bin\Release\Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
				<File Id="Microsoft.Office.Tools.dll" Name="Microsoft.Office.Tools.dll" Source="..\PPSnExcel\bin\Release\Microsoft.Office.Tools.dll" />
				<File Id="Microsoft.Office.Tools.Excel.dll" Name="Microsoft.Office.Tools.Excel.dll" Source="..\PPSnExcel\bin\Release\Microsoft.Office.Tools.Excel.dll" />
				<File Id="Microsoft.Office.Tools.v4.0.Framework.dll" Name="Microsoft.Office.Tools.v4.0.Framework.dll" Source="..\PPSnExcel\bin\Release\Microsoft.Office.Tools.v4.0.Framework.dll" />
				<File Id="Microsoft.VisualStudio.Tools.Applications.Runtime.dll" Name="Microsoft.VisualStudio.Tools.Applications.Runtime.dll" Source="..\PPSnExcel\bin\Release\Microsoft.VisualStudio.Tools.Applications.Runtime.dll" />
				<RegistryValue Root="HKCU" Key="$(var.AddInKeyPaths)" Name="VSTO" Value="1" Type="integer" KeyPath="yes" />
			</Component>

			<Component Id="NeoLua" Guid="4a342d95-ca71-4c8e-85fc-219c48631b60">
				<File Id="Neo.Lua.dll" Name="Neo.Lua.dll" Source="..\PPSnExcel\bin\Release\Neo.Lua.dll" />
				<File Id="Neo.Lua.pdb" Name="Neo.Lua.pdb" Source="..\PPSnExcel\bin\Release\Neo.Lua.pdb" />
				<RegistryValue Root="HKCU" Key="$(var.AddInKeyPaths)" Name="NeoLua" Value="1" Type="integer" KeyPath="yes" />
			</Component>
			
			<Component Id="PPSnCore" Guid="3b45f5cf-936e-487e-98b9-2718462b07aa">
				<File Id="PPSn.Core.dll" Name="PPSn.Core.dll" Source="..\PPSnExcel\bin\Release\PPSn.Core.dll" />
				<File Id="PPSn.Core.pdb" Name="PPSn.Core.pdb" Source="..\PPSnExcel\bin\Release\PPSn.Core.pdb" />
				<RegistryValue Root="HKCU" Key="$(var.AddInKeyPaths)" Name="PPSnCore" Value="1" Type="integer" KeyPath="yes" />
			</Component>

			<Component Id="PPSnExcelUI" Guid="6f50b107-1c1c-4b76-95b4-75beb425dfca">
				<File Id="PPSnExcelUI.dll" Name="PPSnExcelUI.dll" Source="..\PPSnExcel\bin\Release\PPSnExcelUI.dll" />
				<File Id="PPSnExcelUI.pdb" Name="PPSnExcelUI.pdb" Source="..\PPSnExcel\bin\Release\PPSnExcelUI.pdb" />
				<RegistryValue Root="HKCU" Key="$(var.AddInKeyPaths)" Name="PPSnExcelUI" Value="1" Type="integer" KeyPath="yes" />
			</Component>

			<Component Id="PPSnUI" Guid="c78f9f02-5906-4a51-989f-83aef12a622c">
				<File Id="PPSnUI.dll" Name="PPSnUI.dll" Source="..\PPSnExcel\bin\Release\PPSnUI.dll" />
				<File Id="PPSnUI.pdb" Name="PPSnUI.pdb" Source="..\PPSnExcel\bin\Release\PPSnUI.pdb" />
				<RegistryValue Root="HKCU" Key="$(var.AddInKeyPaths)" Name="PPSnUI" Value="1" Type="integer" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
