<?xml version="1.0" encoding="UTF-8"?>

<!-- version, productcode und assemblyfile ändern!!!! -->
<?define ProductVersion = "1.2.8.0" ?>
<?define ProductCode = "a228ed68-8afd-4e30-bb80-a69636f7ae17" ?>

<?define ProductUpgradeCode = "59d50ec7-25af-4684-9681-ea8e4c7c593f" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$(var.ProductCode)"
					 UpgradeCode="$(var.ProductUpgradeCode)"
					 Name="!(loc.ProductName)"
					 Language="!(loc.ProductLanguage)"
					 Version="$(var.ProductVersion)"
					 Manufacturer="!(loc.ProductCompany)" >

		<Package Description="!(loc.ProductName)"
						 Comments="!(loc.PackageComments)"
						 InstallerVersion="200" 
						 Compressed="yes" 
						 InstallScope="perUser"
						 InstallPrivileges="limited" 
		/>

		<Property Id="ARPHELPLINK" Value="!(loc.ArpHelpLink)" />
		<Property Id="ARPURLINFOABOUT" Value="!(loc.ArpUrlInfoAbout)" />
		<Property Id="ALLUSERS" Secure="yes"/>

		<Media Id="1" Cabinet="data.cab" EmbedCab="yes" />

		<!-- Upgrade rules -->
		<Upgrade Id="$(var.ProductUpgradeCode)">
			<UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
			<UpgradeVersion Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
		</Upgrade>
		<MajorUpgrade DowngradeErrorMessage="!(loc.ConditionEarlierVersion)" />
		
		<CustomAction Id="CA_BlockOlderVersionInstall" Error="!(loc.ConditionLaterVersion)" />
		
		<!-- Enforce users -->
		<Condition Message="!(loc.ConditionAllUsers)">NOT ALLUSERS</Condition>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder" Name="AppData">
				<Directory Id="ppsn" Name="ppsn">
					<Directory Id="INSTALLFOLDER" Name="BinXl" />
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="PPSnExcel" Title="!(loc.ProductName)" Level="1">
			<ComponentGroupRef Id="PPSnExcel" />
		</Feature>

		<InstallExecuteSequence>
			<Custom Action="CA_BlockOlderVersionInstall" After="FindRelatedProducts">
				<![CDATA[NEWERVERSIONDETECTED]]>
			</Custom>
			<LaunchConditions After="AppSearch"/>

		</InstallExecuteSequence>

		<InstallUISequence>
			<Custom Action="CA_BlockOlderVersionInstall" After="FindRelatedProducts">
				<![CDATA[NEWERVERSIONDETECTED]]>
			</Custom>
		</InstallUISequence>

		<UIRef Id="WixUI_Minimal"/>
	</Product>
</Wix>
