<?xml version="1.0" encoding="utf-8" ?>
<fragment xmlns="http://tecware-gmbh.de/dev/des/2014"
		xmlns:pps="http://tecware-gmbh.de/dev/des/2015/ppsn">

	<pps:ppsn name="ppsn">
		<pps:sysDataSource name="sys" />
		
		<pps:wpf name="wpf">
			<pps:wpfSource id="core" directory="ClientWpf/Panes" virtualPath="panes" />
			<pps:theme id="default" file="ClientWpf/default.xaml"/>
			
			<pps:action name="close" displayName="Schließen" priority="-1000" displayGlyph="57639">
				<pps:code><![CDATA[ Window:Close() ]]></pps:code>
			</pps:action>
			<!--<pps:template id="templates" file="ClientWpf\Templates\MasterData.Contacts.xaml"/>-->
		</pps:wpf>

		<pps:register source="sys">
			<pps:field name="wpf.sync.Path" dataType="string" />
			<pps:field name="wpf.sync.Length" dataType="long" />
			<pps:field name="wpf.sync.LastWriteTime" dataType="datetime" />
			
			<pps:view name="wpf.sync">
				<pps:source type="view">wpf/GetApplicationFilesSelector</pps:source>
			</pps:view>

			<pps:field name="sys.views.Name" dataType="string" />
			<pps:field name="sys.views.DisplayName" dataType="string" />
			<pps:field name="sys.views.SecurityToken" dataType="string" />
			<pps:field name="sys.views.IsVisible" dataType="bool" />

			<pps:view name="sys.views">
				<pps:source type="view">GetViewDefinitionSelector</pps:source>
			</pps:view>
			<pps:view name="sys.constants">
				<pps:source type="view">GetConstantSelector</pps:source>
			</pps:view>
		</pps:register>

		<pps:register source="main">

			<!-- object fields -->
			<pps:field name="dbo.Objk.Id" />
			<pps:field name="dbo.Objk.Guid" />
			<pps:field name="dbo.Objk.Typ" />
			<pps:field name="dbo.Objk.Nr" />
			<pps:field name="dbo.Objk.HeadRevId" />
			<pps:field name="dbo.Objk.CurRevId" />

			<!-- revision fields -->
			<pps:field name="dbo.Objr.Id" />
			<pps:field name="dbo.Objr.ParentId" />
			<pps:field name="dbo.Objr.ObjkId" />
			<pps:field name="dbo.Objr.Tags" />
			<pps:field name="dbo.Objr.Document" />
			<pps:field name="dbo.Objr.CreateDate" />
			<pps:field name="dbo.Objr.CreateUserId" />
			
			<!-- address fields -->
			<pps:field name="dbo.Adre.Id" />
			<pps:field name="dbo.Adre.ObjkId" />
			<pps:field name="dbo.Adre.Name" />
			<pps:field name="dbo.Adre.Adresse" />
			
			<!-- objects -->
			<pps:view name="dbo.objects">
				<pps:source type="select">
					<![CDATA[
						SELECT
								o.Id
								, o.Guid
								, o.Typ
								, o.Nr
								, r.Id as RevId
								, r.Tags as Tags
							FROM dbo.Objk o
								inner join dbo.Objr r on (o.HeadRevId = r.Id)
					]]>
				</pps:source>
			</pps:view>

			<!-- base dataset -->
			<pps:dataset name="coreDataSet">
				<!-- define the base table -->
				<pps:table name="Head">
					<pps:column name="Id" fieldName="dbo.Objk.Id" isPrimary="true" />
					<pps:column name="CurRevId" fieldName="dbo.Objk.CurRevId" />
					<pps:column name="HeadRevId" fieldName="dbo.Objk.HeadRevId" />
					<pps:column name="Nr" fieldName="dbo.Objk.Nr" />
					<pps:column name="Typ" fieldName="dbo.Objk.Typ" />
					<pps:column name="Guid" fieldName="dbo.Objk.Guid" />
				</pps:table>

				<pps:table name="Revision">
					<pps:column name="Id" fieldName="dbo.Objr.Id" isPrimary="true" />
					<pps:relation name="ObjkId" fieldName="dbo.Objr.ObjkId" parentTable="Head" parentColumn="Id" parentType="Root" relationName="ObjrObjk" />
				</pps:table>
				
			</pps:dataset>

			<!-- definition for currencies -->
			<pps:field name="dbo.Waeh.Iso" />
			<pps:field name="dbo.Waeh.Symbol" />
			<pps:field name="dbo.Waeh.Name" />

			<pps:constant name="Waeh">
				<pps:column name="ISO" fieldName="dbo.Waeh.Iso"/>
				<pps:column name="Symbol" fieldName="dbo.Waeh.Symbol"/>
				<pps:column name="Name" fieldName="dbo.Waeh.Name"/>
			</pps:constant>

			<!-- definition for countries -->
			<pps:field name="dbo.Land.Iso" />
			<pps:field name="dbo.Land.Name" />
			<pps:field name="dbo.Land.EnglishName" />

			<pps:constant name="Land">
				<pps:column name="ISO" fieldName="dbo.Land.Iso"/>
				<pps:column name="Name" fieldName="dbo.Land.Name"/>
				<pps:column name="EnglishName" fieldName="dbo.Land.EnglishName"/>
			</pps:constant>
		</pps:register>
	</pps:ppsn>
</fragment>